.docs h1{
    color: white;
    font-size: 2.6em;
    font-weight: bold;
    margin: 0 0 0.2em 0;
    line-height: 2.6rem;
    padding: 0;
}

.docs h2 {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 0.2em 0;
    line-height: 2.3rem;
    padding: 0;
}

.docs h3 {
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    margin: 0 0 0.2em 0;
    line-height: 2.1rem;
    padding: 0;
}
.docs p, .docs ul li, .docs ol li {
    color: white;
    font-size: 1.2em;
    margin: 0 0 0.2em 0;
    line-height: 1.6rem;
    padding: 0;
}

.docs ul, .docs ol {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 20px 0;
    margin-left: 20px;
    color: white;
}

.docs ul li {
    list-style: circle;
}

.docs ol li {
    list-style: decimal;
}

.docs a {
    color: rgb(59, 190, 255);
    text-decoration: underline;
    font-weight: bold;
}

.docs img {
    width: 66%;
    height: auto;
    margin: 30px auto;
    border-radius: 40px;
}