.appear-right{

    transform: translateX(-60vw);
    animation: appear-right 1.5s ease-in-out forwards;
}
.appear{
    opacity: 0;
    animation: appear 0.5s ease-in-out forwards 1.5s;
}
.main-button{
    cursor: pointer;
    width: 400px;
    margin: 0 auto;
    display: relative;
    z-index: 100;
    box-shadow: -4px -10px 20px var(--color-action), 4px 10px 20px var(--color-action-2);
    transition: transform 0.2s;    
}
.main-button:hover{
    transform: scale(1.05);
}

@keyframes appear-right{
    100%{
        transform: translateX(0);
    }
}

@keyframes appear{
    100%{
        opacity: 1;
    }
}