{% extends "templates/base.html" %}

    {% block title %}Sigma Casino - Log In{% endblock %}


    {% block logged_as %}
        {%- if user_id is defined -%}
            logged in as: <span>{{ username }}</span>
        {%- endif -%}
    {% endblock %}


    {% block account %}
        {%- if user_id is defined -%}
            <li>
                <a href="/account">
                    Account
                </a>
            </li>
            <li class="button-action">
                <a href="/logout">
                    Logout
                </a>
            </li>
        {% else %}
            <li class="button-action">
                <a href="/login">
                    Login
                </a>
            </li>
        {%- endif -%}
    {% endblock %}


    {% block content %}
        <div class="w-fit mx-auto">

            <div class="box w-[600px] px-6">
                <!-- LOGIN HEADER -->
                <h2 class="text-6xl font-bold text-center py-10">
                    Deposit
                </h2>

                <!-- FORM -->
                <form method="POST" action="">
                    <div class="input-container">
                        <label for="amount">Amount</label>
                        <input type="text" class="p-2" id="amount" name="amount" required>
                    </div>


                    <!-- SUBMIT BUTTON -->
                    <button type="submit" class="button-action-full w-full py-2 text-2xl">Deposit</button>
                </form>
            </div>

        </div>
    {% endblock %}
