<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roulette</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/games.css">
</head>
<body>

    <!-- HEADER -->
    <header>
        <div class="logo-container">
            <img class="logo" src="/svg/piggy-bank-solid-black.svg" alt="">
            <h1>
                <a href="/index" style="color: black">
                    Sigma Casino
                </a>
            </h1>
        </div>
        <nav style="color: black">
            <ul>
                <li>
                    <a href="/games">
                        Games
                    </a>
                </li>
                <li class="button-action">
                    <a href="/login">
                        Sign In
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main style="width: 100vw; padding: 0 80px">
        <div class="main-wrapper">

            <!-- GAMES HEADER -->
            <h2 class="games-header">
                Games
            </h2>


            <!-- GAMES CONTAINER -->
            <div class="games-container">

                <!-- ROULETTE LINK -->
                <div class="game-container">
                    <a href="/games/roulette">
                        <h3 class="game-header">
                            Roulette
                        </h3>
                    </a>
                    <p class="game-description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae quo explicabo corrupti odio veritatis delectus quisquam quaerat itaque quidem voluptatibus.
                    </p>
                    <div class="image-container">
                        <div class="background-transition"></div>
                        <img src="/images/roulette2.jpg" alt="">
                    </div>
                </div>

                <!-- BLACK JACK -->
                <div class="game-container">
                    <a href="/games/black_jack">
                        <h3 class="game-header">
                            Black Jack
                        </h3>
                    </a>
                    <p class="game-description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae quo explicabo corrupti odio veritatis delectus quisquam quaerat itaque quidem voluptatibus.
                    </p>
                    <div class="image-container">
                        <div class="background-transition"></div>
                        <img src="/images/black_jack.jpg" alt="">
                    </div>
                </div>
                
                <!-- HORSE RACING -->
                <div class="game-container">
                    <a href="/games/horses">
                        <h3 class="game-header">
                            Horse racing
                        </h3>
                    </a>
                    <p class="game-description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae quo explicabo corrupti odio veritatis delectus quisquam quaerat itaque quidem voluptatibus.
                    </p>
                    <div class="image-container">
                        <div class="background-transition"></div>
                        <img src="/images/horse_racing.png" alt="">
                    </div>
                </div>


            </div>

        </div>
    </main>

</body>
</html>
