{% extends "templates/base.html" %}
    {% block title %}Sigma Casino - Games{% endblock %}


{% block content %}
    <div class="w-fit mx-auto text-white mb-20">

        <!-- GAMES HEADER -->
        <h2 class="text-6xl font-bold mb-10">
            Games
        </h2>


        <!-- GAMES CONTAINER -->
        <div class="flex flex-wrap justify-center gap-20">

            <!-- ROULETTE LINK -->

            <div 
                class="px-5 py-3 rounded-[20px] shadow-full w-[300px] bg-zinc-800"
                style="border: 2px solid var(--color-action);"
            >
                <a href="/games/roulette">
                    <h3 class="text-3xl font-bold">
                        Roulette
                    </h3>
                </a>
                <p class="mt-5">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae quo explicabo corrupti odio veritatis delectus quisquam quaerat itaque quidem voluptatibus.
                </p>
                <div class="size-[200px] mx-auto">
                    <div class="background-transition"></div>
                    <img src="/images/roulette.png" alt="">
                </div>
            </div>
    
    
            <div 
                class="px-5 py-3 rounded-[20px] shadow-full w-[300px] bg-zinc-800"
                style="border: 2px solid var(--color-action);"
            >
                <a href="/games/horses">
                    <h3 class="text-3xl font-bold">
                        Horse Racing
                    </h3>
                </a>
                <p class="mt-5">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae quo explicabo corrupti odio veritatis delectus quisquam quaerat itaque quidem voluptatibus.
                </p>
                <div class="size-[200px] mx-auto">
                    <div class="background-transition"></div>
                    <img src="/images/hs.png" alt="">
                </div>
            </div>

        </div>
    </div>
{% endblock %}
