<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roulette</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>
    
    <header class="header-shadow">
        <div class="logo-container">
            <img class="logo" src="/svg/piggy-bank-solid.svg" alt="">
            <h1>
                <a href="/index" style="color: white">
                    Sigma Casino
                </a>
            </h1>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/games" style="color: white">
                        Games
                    </a>
                </li>
                <li class="button-action">
                    <a href="/login">
                        Sign In
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="main-container">

            <img class="main-image" src="/images/landing.jpg" alt="">
        
            <div class="black-overlay"></div>


            <div class="intro-text-container">
                <h1>Play your<br> favorite games<br> and <span class="text-action">WIN BIG!</span></h1>
                <p>Don't miss your lucky day!</p>
            </div>
    
            <button class="button-action-full main-button">
                <a href="/games" style="color: white">
                    Play Now
                </a>
            </button>
        
        </div>
    
    </main>



</body>
</html>
