{% extends "templates/base.html" %}

    {% block title %}Sigma Casino - Home Page{% endblock %}

    {% block head_extensions %}
        <link rel="stylesheet" href="/css/home.css">
    {% endblock %}


    {% block background %}
    <img class="absolute top-0 left-0 w-screen h-full object-cover" src="/images/landing.jpg" alt="">
    <div
        class="w-full h-full absolute top-0 left-0"
        style="background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 50%, transparent 100%);""    
    >
    <div 
        class="absolute top-0 left-0 w-full h-64 z-[5]"
        style="background: linear-gradient(to bottom, black, transparent 100%)"
    ></div>
    {% endblock %}

    {% block header %}
    <header 
        class="fixed top-0 w-screen z-[50] flex justify-between p-10 pb-12 items-center text-white"    
    >
        {%- if user_id is defined -%}
            <div class="absolute top-2 right-10 text-sm">
                logged in as: <span>{{ username }}</span>
            </div>
        {%- endif -%}

        <div class="flex items-center gap-5 group">
            <img class="size-10 duration-200 group-hover:rotate-[-10deg] group-hover:-translate-y-2" src="svg/piggy-bank-solid.svg" alt="">
            <h1>
                <a href="/index" class="text-3xl font-bold">
                    Sigma Casino
                </a>
            </h1>
        </div>
        <nav>
            <ul class="flex justify-between items-center gap-5 text-xl font-bold">
                <li>
                    <a href="/games">
                        Games
                    </a>
                </li>
                {%- if user_id is defined -%}
                    <li>
                        <a href="/account">
                            Account
                        </a>
                    </li>
                {%- else -%}
                    <li class="button-action">
                        <a href="/login">
                            Sign In
                        </a>
                    </li>
                {%- endif -%}
            </ul>
        </nav>
    </header>
    {% endblock %}

    {% block content %}
        <div class="relative w-screen h-screen top-0 left-0 overflow-hidden flex flex-col justify-evenly p-10">
            <div class="relative">
                <h1 class="text-8xl font-semibold tracking-widest appear-right">
                    Play your<br>
                    favorite games<br>
                    and <span class="text-action font-bold">WIN BIG!</span>
                </h1>
                <p class="text-4xl mt-10 appear">Don't miss your lucky day!</p>
            </div>

            <button class="button-action-full main-button">
                <a href="/games">
                    Play Now
                </a>
            </button>
        </div>
    {% endblock %}

</body>
</html>
