{% extends "templates/base.html" %}

    {% block title %}Sigma Casino - Log In{% endblock %}

    {% block content %}
        <div class="w-fit mx-auto mb-20">

            <div class="box w-[600px] px-12">
                <!-- LOGIN HEADER -->
                <h2 class="text-6xl font-bold text-center py-10">
                    Login
                </h2>

                <!-- FORM -->
                <form method="post">
                    <div class="input-container">
                        <label for="email">Email</label>
                        <input type="text" class="p-2" id="email" name="email" required>
                    </div>
                    <div class="input-container">
                        <label for="password">Password</label>
                        <input type="password" class="p-2" id="password" name="password" required>
                    </div>

                    <!-- SUBMIT BUTTON -->
                    <button type="submit" class="button-action-full w-full py-2 text-2xl">Sign in</button>
                </form>

                <div class="flex justify-center items-center gap-5 my-12">
                    <div class="bg-white w-40 h-[1px]"></div>
                    <span>OR</span>
                    <div class="bg-white w-40 h-[1px]"></div>
                </div>
                
                <!-- OTHER LOGIN OPTION -->
                <a href="/register" class="flex w-full">
                    <button type="submit" class="button-action w-full py-2 text-2xl mb-10">Sign up</button>
                </a>

            </div>

        </div>
    {% endblock %}
