
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roulette</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <!-- HEADER -->
    <header>
        <div class="logo-container">
            <img class="logo" src="/svg/piggy-bank-solid-black.svg" alt="">
            <h1>
                <a href="/index" style="color: black">
                    Sigma Casino
                </a>
            </h1>
        </div>
        <nav style="color: black">
            <ul>
                <li>
                    <a href="/games">
                        Games
                    </a>
                </li>
                <li class="button-action">
                    <a href="/login">
                        Sign In
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main style="width: 100vw; padding: 0 80px">
        <div class="main-wrapper">


            <div class="login-container">
                <!-- REGISTER HEADER -->
                <h2 class="login-header">
                    Register
                </h2>

                <!-- FORM -->
                <form action="" class="login-form">
                    <div class="input-container">
                        <label for="username">username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="input-container">
                        <label for="email">email</label>
                        <input type="text" id="email" name="email" required>
                    </div>
                    <div class="input-container">
                        <label for="password">password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="input-container">
                        <label for="repeat_password">repeat password</label>
                        <input type="password" id="repeat_password" name="repeat_password" required>
                    </div>

                    <!-- SUBMIT BUTTON -->
                    <button type="submit" class="button-action-full">Sign up</button>

                    
                </form>

                <div class="or">
                    <div class="line"></div>
                    <span>OR</span>
                    <div class="line"></div>
                </div>
                
                <!-- OTHER LOGIN OPTION -->
                <a href="/login" class="second-button-container">
                    <button type="submit" class="button-action">Sign in</button>
                </a>

            </div>

        </div>
    </main>

</body>
</html>
