{% extends "templates/base.html" %}

    {% block title %}Sigma Casino - Reset Password{% endblock %}


    {% block content %}
        <div class="w-fit mx-auto mb-20">
            <div class="box w-[600px] px-12 pb-12">
                <!-- LOGIN HEADER -->
                <h2 class="text-6xl font-bold text-center py-10">
                    Reset Password
                </h2>

                <!-- FORM -->
                <form method="post">
                    <div class="input-container">
                        <label for="current_password">Current password</label>
                        <input type="password" class="p-2" id="current_password" name="current_password" required>
                    </div>
           
                    <div class="input-container">
                        <label for="new_password">New password</label>
                        <input type="password" class="p-2" id="new_password" name="new_password" required>
                    </div>

                    <div class="input-container">
                        <label for="repeat_password">Repeat password</label>
                        <input type="password" class="p-2" id="repeat_password" name="repeat_password" required>
                    </div>

                    <!-- SUBMIT BUTTON -->
                    <button type="submit" class="button-action-full w-full py-2 text-2xl mt-10">Reset password</button>
                </form>

            </div>
        </div>
    {% endblock %}
