<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Roulette</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <header class="header-shadow">
            <div class="logo-container">
                <img class="logo" src="/svg/piggy-bank-solid.svg" alt="">
                <h1>
                    <a href="/index" style="color: white">
                        Sigma Casino
                    </a>
                </h1>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/games" style="color: white">
                            Games
                        </a>
                    </li>
                    <li class="button-action">
                        <a href="/login">
                            Sign In
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="main-container" style="background: white;">
                <section>
                    <div class="product">
                        <div class="description">
                            <h1>Wpłata na kasyno</h1>
                            <h2>2 PLN</h2>
                        </div>
                    </div>
                    <form action="/stripe_checkout" method="POST">
                        <button type="submit" id="checkout-button">Checkout</button>
                    </form>
                </section>
            </div>
        </main>
    </body>
</html>