<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/horse_racing.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="logo-container">
            <img class="logo" src="/svg/piggy-bank-solid-black.svg" alt="">
            <h1>
                <a href="/index" style="color: black">
                    Sigma Casino
                </a>
            </h1>
        </div>
        <nav style="color: black">
            <ul>
                <li>
                    <a href="/games">
                        Games
                    </a>
                </li>
                <li class="button-action">
                    <a href="/login">
                        Sign In
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>

        <div class="main-wrapper">
            <h2>
                Horse Racing
            </h2>

            <!-- GAME CONTAINER -->
            <div class="game-container" id="gameContainer">
            </div>

            <!-- START BUTTON -->
            <button class="spin-button spin-button-enabled" id="startButton">
                Start race
            </button>
            <div class="login-container">
                <form method="post" class="login-form">
                    <div class="input-container">
                        <label for="color">color</label>
                        <input type="text" id="color" name="color" required>
                    </div>
                    <div class="input-container">
                        <label for="stake">stake</label>
                        <input type="number" id="stake" name="stake" required>
                    </div>

                    <!-- SUBMIT BUTTON -->
                    <button type="submit" class="button-action-full">Play</button>
                </form>
            </div>
        </div>
    </main>

    <script src="/js/horse_racing.js"></script>

</body>
</html>