<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/roulette.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- HEADER -->
    <header>
        <div class="logo-container">
            <img class="logo" src="/svg/piggy-bank-solid-black.svg" alt="">
            <h1>
                <a href="/index" style="color: black">
                    Sigma Casino
                </a>
            </h1>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/games">
                        Games
                    </a>
                </li>
                <li class="button-action">
                    <a href="/login">
                        Sign In
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="main-wrapper">
            
            <h2>
                Roulette
            </h2>

            <!-- GAME CONTAINER -->

            <div class="roulette-container">
                <img id="roulette" class="roulette" src="/images/roulette2.jpg" style="height: 500px; width: 500px;" alt=""
                >
    
                <!-- WINNING NUMBER POINTER -->
                <div class="pointer"
                ></div>
                <div class="pointer-2"
                ></div>

            </div>

            <!-- START BUTTON -->
            <button id="spinButton" class="spin-button spin-button-enabled">SPIN</button>

        </div>

       

    </main>

    <script src="/js/roulette.js"></script>

    
</body>
</html>